@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");
* {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

input:focus,
button:focus,
select:focus {
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

@media (max-width: 991px) {
  html,
  body {
    font-size: 14px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #004a89;
}

a:hover {
  color: #004a89;
  text-decoration: none;
}

body {
  background-color: #004a89;
  height: 100vh;
}

.main {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 0 0;
  background-color: red;
}

@media (max-width: 767px) {
  .main {
    width: 100%;
    padding: 20px;
  }
}

.main h1 {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 0.8;
}

.main h2 {
  color: #ffffff;
  padding-bottom: 50px;
}

.main .events-principal {
  background: #004a89;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.main .events-principal .container-text {
  background: red;
  width: 40%;
  text-align: left;
  padding: 180px 40px 20px 40px;
}

.main .events-principal .container-text .date {
  font-size: 34px;
  font-weight: 700;
}

.main .events-principal .container-img {
  width: 60%;
  margin-left: 20px;
  position: relative;
  z-index: 2;
}

.main .events-principal .container-img header {
  text-align: left;
  padding: 20px 0;
}

.main .events-principal .container-img header h1, .main .events-principal .container-img header h2 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}

.main .events-principal .container-img header h1 {
  font-size: 28px;
}

.main .events-principal .container-img header h2 {
  color: #fdbe42;
  font-size: 40px;
}

.main .events-principal .container-img img {
  width: 70%;
  margin-bottom: 40px;
  float: left;
}

.main .events-principal footer {
  background-color: #fdbe42;
  position: absolute;
  width: 100%;
  height: 72px;
  bottom: 0;
  z-index: 1;
}

.border-img {
  border: 5px solid #fdbe42;
}

.grid01 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  grid-gap: 20px;
}

@media (max-width: 991px) {
  .grid01 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.grid02 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
}
