@charset 'UTF-8';

* {
    list-style: none;
    box-sizing: border-box;
    outline: none;

}
input:focus,
button:focus,
select:focus {
      outline: 0;
    }
html, 
body {
    width: 100%;
    height: 100%;
    font-size: 16px;

    @media (max-width: 991px) {
        font-size: 14px;
      }
    
}
body {
    font-family: 'VAGRounded',Arial,sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: $main-color;
    &:hover {
        color: $main-color;
        text-decoration: none;
    }
}
h3 {
    position: absolute;
    color: $default-color;
    background-color: $primary-color;
    padding:15px 55px 15px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.internal-shandow{
    @include shandow-internal;
}
.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto ;
    margin: 0 40px ;
    grid-gap: 40px; 

    @media only screen and (max-width: 991px) {
        grid-template-columns: 100%;
    }
}

.btn{
    color:$default-color;
    background-color: $primary-color;
    padding: 10px 40px;
    border-radius: 40px;
    font-size: 23px;
    display: block;
    margin:0 auto;

    &:hover {
        color:$default-color;
        background-color: $primary-color-lighter;
    }
}
.btn-prev{
    color:$primary-color;
    font-size: 24px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
ul.icons-stars {
    margin: 0;
    padding: 0;
    text-align: left;

    li {
        display: inline-block;
        margin: 0 2px;
        
        a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            .icon {
                font-size: 24px;
                color: $primary-color;
                border-radius: 100%;
                &:hover {
                    color: $primary-color-lighter;
                }
            }
        }
    }
}