#confirmed-purchase {

    .box-purchase-data {
        height: 130px;
        background-color:$second-color;

        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media only screen and (max-width: 767px) {
            min-height: 230px;
        }
        header {
            max-width: 1140px;
            width: 100%;
            padding: 0 15px;
            margin: 0 auto;

            .text-title {
                float: right;
                display: block;
                width: 45%;
                padding:30px;
                text-align: right;
                text-transform: initial;
                @media only screen and (max-width: 767px) {
                    float: initial;
                    text-align: center;
                    width: 100%;
                    padding-top: 100px;

                }
            }
        }

    }
    .box-congratulations {
        max-width: 60%;
        width: 100%;
        padding: 0 0 0 50px;
        display: block;
        margin: 80px auto;
        position: relative;
        text-transform: initial;
        .title {
            font-size: 44px;
            color: $primary-color;
            padding: 0;
            line-height: 0.5;

        }
        .subtitle {
            font-size: 32px;
            color: $gray;
        }
        p {
            padding: 20px 140px 0 0;

            strong {
                color: $primary-color;
            }

        }
        &:before {
            content:'\0054';
            font-size: 80px;
            color: $primary-color;
            position: absolute;
            top:0px;
            left: -50px;
            display: inline-block;
            font-family: 'Glyphter';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    }


    .content-instructions {
        padding-top: 100px;
     
        .itens {
            text-align: center;

            .icon {
                color: $primary-color;
                font-size: 48px;
                display: block;
                text-align: center;
            }
            p {
                text-transform: initial;
                padding: 20px 80px;

                @media only screen and (max-width: 767px) {
                    padding: 20px 20px;

                }
            }
        }
    }
    .text-call-center {
        width: 65%;
        padding:10px;
        font-size: 30px;
        color: $default-color;
        background-color: $primary-color;
        display: block;
        margin:20px auto;
        border-radius: 40px;
        text-align: center;
        i {
            margin-right: 20px;
        }
    }
}
