

body {
    height: 100vh;
    background-image: url(../img/bg-twocolor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $default-color;

}
.border-img {
    border:5px solid $default-color;

}
.grid01 {    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-gap: 20px;

    @media (max-width: 991px) {
        grid-template-columns: 100%;

        }
    }

.grid02 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;

    @media (max-width: 580px) {
        grid-template-columns: 100%;

      }
}

.main {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0 0 0 ;
    //background-color: red;

    @media (max-width: 767px) {
        width: 100%;
        padding: 20px;
  
      }

    h1 {
        color: $primary-color;
        text-transform: uppercase;
        line-height: 0.8;
    }
    h2 {
        color: $primary-color;
        padding-bottom: 50px;
    }
    .events-principal {
        background:$main-color;
        color:$primary-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.5);

        @media (max-width: 480px) {
            min-height: 680px;
      
          }

        .container-text {
            width: 40%;
            text-align: left;
            padding: 180px 40px 20px 40px;

            .date {
                font-size: 34px;
                font-weight: 700;
            }
            @media (max-width: 480px) {
                width: 100%;
                position: absolute;
                bottom: 0;
                z-index: 2;

              }
        }
        .container-img {
            width: 60%;
            margin-left: 20px;
            position: relative;
            z-index: 2;
            @media (max-width: 480px) {
                width: 100%;
                position: absolute;

              }
            header {

                text-align: left;
                padding: 60px 0 20px 0;

                h1, h2 {
                    padding: 0;
                    margin:0;
                    text-transform: uppercase;
                    line-height: 1;
                    font-weight: 700;
                }
                h1 {
                    font-size: 28px;
            
                }
                h2 {
                    color: $default-color;
                    font-size: 40px;

                }

                @media (max-width: 480px) {
                    width: 100%;
                    position: absolute;
                  }
            }

            img {
                width: 80%;
                margin-top: 10px;
                float: left;
                
                @media (max-width: 480px) {
                    margin-top: 130px;
                    z-index: 2;

                  }
            }

        }
        footer {
            background-color: $default-color; 
            position: absolute;
            width: 100%;
            height: 120px;
            bottom: 0;
            z-index: 1;
            @media (max-width: 480px) {
                height: 160px;

            }
        }

    }
    .list-events {
        > div {
            min-height: 300px;
            box-shadow: 0px 0px 20px rgba(0,0,0,0.5);

            @media (max-width: 580px) {
                min-height: 450px;
            }
        }
        .bg-events-01 {
            background-image: url(../img/img-box-events01.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;

        }
        .bg-events-02 {
            background-image: url(../img/img-box-events02.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;

        }
        .bg-events-03 {
            background-image: url(../img/img-box-events03.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;

        }
        .bg-events-04 {
            background-image: url(../img/img-box-events04.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;

        }
        .box-event01 {

            position: relative;
            header {
                text-align: left;
                text-transform: uppercase;
                position: absolute;
                left: 6%;
                top: 20px;

                h1 {
                    font-size: 16px;
                    color: $main-color;
                    margin-bottom: 2px;
                    font-weight: 700;
                }
                h2{
                    font-size: 22px;
                    color:$default-color;
                    font-weight: 700;
                }
            }

            .container-text {
                text-align: left;
                position: absolute;
                bottom: -2px;
                color:$primary-color ;
                font-size: 8px;
                left: 52%;
                padding-right: 20px;
                .icon-social {

                    img {

                        width:30%
                        
                    }
                }
            }
        }
        .box-event02 {
            position: relative;
            .titles {
                position: absolute;
                bottom: -10px;
                left: 10px;
                text-align: left;
                text-transform: uppercase;
                h1 {
                    font-size: 16px;
                    color: $main-color;
                    margin-bottom: 2px;
                    font-weight: 700;
                }
                h2{
                    font-size: 22px;
                    color:$primary-color;
                    font-weight: 700;
                }
            }
            .container-text {
                text-align: left;
                position: absolute;
                bottom: -2px;
                color:$primary-color ;
                font-size:8px;
                left: 52%;
                padding-right: 20px;
                .icon-social {

                    img {

                        width:35%
                        
                    }
                }
            }
        }
        .box-event03 {
            position: relative;
            footer {
                width: 100%;
                height: 78px;
                color:$primary-color;
                display: grid;
                grid-template-columns: 40% 60%;
                grid-auto-rows: auto;
                grid-gap: 10px;
                position: absolute;
                bottom: 0;
                .titles {
                    text-align: left;
                    padding: 10px 0 0 20px;
                    text-transform: uppercase;
                    h1 {
                        font-size:18px ;
                        line-height: 0.4;
                        font-weight: 700;
                    }
                    h2 {
                        font-size:22px;
                        color:$default-color;
                        font-weight: 700;
                    }
                }
                .container-text {
                    font-size: 8px;
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 45px;
                    .icon-social {
                        margin-left: -5px;
                        img {
                            width:30%
                        }
                    }
                }

            }
        }
    }
}
.icon-social {
    ul {
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            a {

                width: 30px;
                height: 30px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                img {
                    border: none;
                    width: 50%;
                }
            }
        }
    }
}


